:root{
    --text: 'Montserrat', sans-serif;
    --white: #fff;
}

body{
    background-color: #011626;
    color: var(--white);
}
h1,h2,h3,h4{
    font-family: var(--text);
}
h1{
    font-size: 3rem;
}
.columnas {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2rem;
}
.panel{
    width: 100%;
    height: auto;
}
.graph {
    background-color: #010e18;
    height: 40rem;
}